@model IEnumerable<Finance_Literacy_App_Web.Models.Group>

@{
    ViewData["Title"] = "Мои группы";
}

<h1>Мои группы</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="CreateGroup" class="btn btn-primary">Создать новую группу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Код приглашения</th>
            <th>Пользователи</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>@(group.InviteCode ?? "Не установлен")</td>
                <td>
                    @if (group.Users.Any())
                    {
                        <ul>
                            @foreach (var user in group.Users)
                            {
                                <li>
                                    @user.UserName
                                    <a asp-action="RemoveUserFromGroup" asp-route-id="@group.Id" asp-route-userId="@user.Id" class="btn btn-sm btn-danger">Удалить</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>В этой группе нет пользователей.</p>
                    }
                </td>
                <td>
                    <a asp-action="ViewUserAnswers" asp-route-id="@group.Id" class="btn btn-sm btn-info">Посмотреть ответы</a>
                    <a asp-action="DeleteGroup" asp-route-id="@group.Id" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>